<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="/new-user">Ajouter un utilisateur</a></li>
            <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
            <li routerLinkActive="active"><a routerLink="appareils">Liste d'appareils</a></li>
            <li routerLinkActive="active"><a routerLink="edit">Editer appareil</a></li>
            <li routerLinkActive="active"><a routerLink="users">Liste d'utilisateur</a></li>
        </ul>
        <div class='navbar-right'>
            <p>Connecter depuis {{secondes}} secondes</p>
        </div>
    </div>
</nav>
<div class="container" >
    <div class='row'>
        <router-outlet></router-outlet>>
    </div>
</div>